<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
</head>
<body>
    <h1>Relative url templates Homie</h1>
    <a href="{% url 'basic_app:other' %}">The other page</a>
    <!-- tkaes to other page by making url basic_app/other linked in urls of basc_app annd its case sensitive -->
    <a href="{% url 'admin:index' %}">Link to admin</a>
    <a href="{% url 'index' %}">HomePage</a>
</body>
</html>